
.boardRow {
  width: 70vh;
  display: flex;
  box-sizing: border-box;
}

.space {
  flex:1;
  height:auto;
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  text-align: center;
  user-select: none;
}

.space::before {
  content: '';
  float: left;
  padding-top: 100%;
}
.mine{
  color: black;
  background-color: red;
}
.hidden {
  background-color: grey;
  color: gray
}
.flagged{
  background-color: yellow;
  color: yellow;
}
