


.boardRow {
  width: 40%;
  display: flex;
  box-sizing: border-box;
}

.space {
  flex:1;
  height:auto;
  background-color: grey;
  border: 1px solid black;
}

.space::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.flaged{
  background-color: yellow;
}